*{
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova',sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}


body{
  background: linear-gradient(56deg, rgb(85, 20, 72) -20%, rgb(0, 0, 0) 50%, rgb(85, 20, 72) 120%) no-repeat fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

h1 {
    text-align: center;
    margin-top: 150px;
    color:white;
    font-size: 2em;
  }

  h2 {
    text-align: center;
    color:white;
    font-weight: lighter;
    margin-top: 20px;

  }

  h3 {
    text-align: center;
    color:white;
    font-size: 2em;
  }

  .line {
    position:absolute;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: -8px;
    width: 1544px;
    height: 2px;
    background: rgb(103,168,175);
background: linear-gradient(90deg, rgba(103,168,175,1) 19%, rgb(234, 2, 120) 55%, rgba(97,226,186,1) 100%);
}
  
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 30%;
  max-width: 100%;
  height:auto;
}

.tick {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width:100%;
  height:auto;
}

